.sustem{
    opacity: 0;
}

@media (max-width: 576px) {
  main {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* обычная ссылка */
.navbar .nav-link {
    color: #0d6efd; /* 🔵 синий (можешь заменить) */
}

/* при наведении */
.navbar .nav-link:hover {
    color: #084298;
}

/* активная ссылка */
.navbar .nav-link.active {
    color: #ffffff;
    background-color: #0d6efd;
}